<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Register">
   <parameter name="browser" value="chrome"></parameter>
  <parameter name="url1" value="https://magento.softwaretestingboard.com/customer/account/create/"></parameter>
   <classes>
      <class name="com.example.NewTest">
      <methods>
      <include name="register"></include>
      </methods>
      </class>
    </classes>
  </test> 
  
   <test thread-count="5" name="login">
   <parameter name="browser" value="chrome"></parameter>
  <parameter name="url2" value="https://magento.softwaretestingboard.com/customer/account/login/referer/aHR0cHM6Ly9tYWdlbnRvLnNvZnR3YXJldGVzdGluZ2JvYXJkLmNvbS9jdXN0b21lci9hY2NvdW50L2xvZ291dC8%2C/"></parameter>
   <classes>
      <class name="com.example.NewTest">
      <methods>
      <include name="login"></include>
      </methods>
      </class>
    </classes>
  </test>
  
  
  
   <test thread-count="5" name="search">
   <parameter name="browser" value="chrome"></parameter>
  <parameter name="url3" value="https://magento.softwaretestingboard.com/"></parameter>
   <classes>
      <class name="com.example.NewTest">
      <methods>
      <include name="search"></include>
      </methods>
      </class>
    </classes>
  </test>
  
  
   <test thread-count="5" name="addtocart">
   <parameter name="browser" value="chrome"></parameter>
  <parameter name="url4" value="https://magento.softwaretestingboard.com/catalogsearch/result/?q=shirt"></parameter>
   <classes>
      <class name="com.example.NewTest">
      <methods>
      <include name="addtocart"></include>
      </methods>
      </class>
    </classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
